
.body
{
	background-color: silver;
}

.colm1
{
	background-color: ;
}

.colm1 h2
{
	font-weight: bold;
	margin-top:120px;
}

.colm1 p
{
	font-size:16px;
	font-weight: bold;
}


.colm2
{
	background-color: ;
}


.colm2 img
{
	margin-top: 20px;
	height:280px;
	width:230px;
}

.body-part h2
{
	font-weight: bold;
	text-decoration: underline;
}

.body-part p
{
	font-size:16px;
	font-weight: bold;
}

.table thead
{
	font-size:17px;
	font-weight: bold;
}

.table tbody
{
	font-size:16px;
}

ul
{
	display:flex;
	position: absolute;
	margin-left: -80px;
}

ul li
{
	list-style: none;
}

ul li a
{
	width:80px;
	height:80px;
	text-align: center;
	line-height: 80px;
	font-size: 50px;
	margin:0 10px;
	display:block;

}